<li class="post" id="post-<%= post.id %>">
  <div class="post-head">
    <div class="av-na-ti">
        <%= image_tag post.user.avatar.to_s %>
      <span class="timestamp">
        <strong><%= link_to post.user.name, post.user %></strong><br/>
        <%= time_ago_in_words post.created_at %>
      </span>
    </div>
    <% if post.user.current_user? current_user %>
      <div class="pin">
        <ul class="dropdown-setting-post nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul role="menu" class="dropdown-menu">
              <p><%= link_to t("btn_del"), post, method: :delete,
                             data: { confirm: t("del_confirm") } %></p>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="caption">
    <%= post.content %>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <% post.photos.each do |p| %>
        <li>
          <%= image_tag p.image_url, class: "media" %>
        </li>
      <% end %>
      <% post.videos.each do |v| %>
        <li>
          <%= video_tag v.clip_url, controls: true, class: "media" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="stats">
    <span id="likes-<%= post.id %>">
      <%= post.likes.count %><i class="fa fa-heart"></i>
    </span>
    <span class="col-6 col-md-4 float-right" id="comment-count-<%= post.id %>">
      <%= post.comments.size %><i class="fa fa-comments-o fa-lg"></i>
    </span>
  </div>
  <% if user_signed_in? %>
    <%= render "likes/like_form", post: post %>
    <div class="input-comment">
      <%= form_for [post, @post.comments.build], remote: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="text-comment">
          <%= f.text_field :content, placeholder: t("add_comment"), class: "form-control",
                           id: "comment-content-#{post.id}" %>
        </div>
        <%= f.submit t("btn_comment"), class: "btn float-right" %>
      <% end %>
    </div>
  <% end %>
  <div class="comments-list" id="comments-<%= post.id %>">
    <%= render post.comments, post: post %>
  </div>
</li>
