<li class="post">
  <div class="post-head">
    <div class="av-na-ti">
      <% if post.user.avatar? %>
        <%= image_tag post.user.avatar.to_s %>
      <% else %>
        <%= image_tag "ocean.jpg" %>
      <% end %>
      <span class="timestamp">
        <strong><%= link_to post.user.name, post.user %></strong><br/>
        <%= time_ago_in_words post.created_at %>
      </span>
    </div>
    <% if post.user.current_user? current_user %>
      <div class="pin">
        <ul class="dropdown-setting-post nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b class="caret"></b>
            </a>
            <ul role="menu" class="dropdown-menu">
              <p><%= link_to t("btn_del_post"), post, method: :delete,
                             data: { confirm: t("del_confirm") } %></p>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="caption">
    <%= post.content %>
  </div>
  <div class="flexslider">
    <ul class="slides">
      <% post.photos.each do |p| %>
        <li>
          <%= image_tag p.image_url, class: "media" %>
        </li>
      <% end %>
      <% post.videos.each do |v| %>
        <li>
          <%= video_tag v.clip_url, controls: true, class: "media" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="stats">
    <% if user_signed_in? %>
      <%= render "likes/like_form", post: post %>
    <% end %>
    <span class="col-6 col-md-4"><i class="fa fa-comments-o fa-lg"></i>Comment</span>
  </div>
</li>
