<footer class="container footer">
  <nav class="navbar d-flex">
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".support"), "#" %></li>
      <li><%= link_to t(".hashtag"), "#" %></li>
      <li><%= link_to t(".eng"), locale: "en" %></li>
      <li><%= link_to t(".vie"), locale: "vi" %></li>
    </ul>
    <p><%= t".slogan" %></p>
  </nav>
</footer>
