<nav class="navbar navbar-light bg-light d-flex">
  <div class="container">
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= fa_stacked_icon "camera inverse", base: "circle"%>
        <%= t "title" %>
      <% end %>
    </div>
    <div class="m-auto">
      <%= form_with class: "form-inline search-form" do |f| %>
        <%= f.text_field :search, placeholder: t(".search_holder"), class: "form-control mr-sm-2" %>
      <% end %>
    </div>
    <div class="user-section">
      <%= link_to "#" do %>
        <i class="fa fa-compass"></i>
      <% end %>

      <%= link_to "#" do %>
        <i class="fa fa-heart"></i>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to user_path current_user do %>
          <i class="fa fa-user"></i>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fa fa-sign-in"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
